// PIO0
LOCATE COMP     "gpio_5"        SITE "B10";
IOBUF PORT      "gpio_5"        IO_TYPE=LVCMOS33;
IOBUF PORT      "gpio_5"        PULLMODE=DOWN;
IOBUF PORT      "gpio_5"        SLEWRATE=FAST;

// PIO1
LOCATE COMP     "clk48"         SITE "A9";					// 48MHz clock
IOBUF PORT      "clk48"         IO_TYPE=LVCMOS33;
FREQUENCY PORT  "clk48"         48.0 MHz;
LOCATE COMP     "gpio_6"        SITE "B9";
IOBUF PORT      "gpio_6"        IO_TYPE=LVCMOS33;
IOBUF PORT      "gpio_6"        PULLMODE=DOWN;
IOBUF PORT      "gpio_6"        SLEWRATE=FAST;
LOCATE COMP     "gpio_11"       SITE "A8";
IOBUF PORT      "gpio_11"       IO_TYPE=LVCMOS33;
IOBUF PORT      "gpio_11"       PULLMODE=DOWN;
IOBUF PORT      "gpio_11"       SLEWRATE=FAST;
LOCATE COMP     "gpio_9"        SITE "C8";
IOBUF PORT      "gpio_9"        IO_TYPE=LVCMOS33;
IOBUF PORT      "gpio_9"        PULLMODE=DOWN;
IOBUF PORT      "gpio_9"        SLEWRATE=FAST;
LOCATE COMP     "gpio_10"       SITE "B8";
IOBUF PORT      "gpio_10"       IO_TYPE=LVCMOS33;
IOBUF PORT      "gpio_10"       PULLMODE=DOWN;
IOBUF PORT      "gpio_10"       SLEWRATE=FAST;

// PIO2
LOCATE COMP     "ddram_a[0]"     SITE "C4";
IOBUF PORT      "ddram_a[0]"     SLEWRATE=FAST;
IOBUF PORT      "ddram_a[0]"     IO_TYPE=LVCMOS33;
LOCATE COMP     "ddram_a[1]"     SITE "D2";
IOBUF PORT      "ddram_a[1]"     SLEWRATE=FAST;
IOBUF PORT      "ddram_a[1]"     IO_TYPE=LVCMOS33;
LOCATE COMP     "ddram_a[2]"     SITE "D3";
IOBUF PORT      "ddram_a[2]"     SLEWRATE=FAST;
IOBUF PORT      "ddram_a[2]"     IO_TYPE=LVCMOS33;
LOCATE COMP     "ddram_a[3]"     SITE "A3";
IOBUF PORT      "ddram_a[3]"     SLEWRATE=FAST;
IOBUF PORT      "ddram_a[3]"     IO_TYPE=LVCMOS33;
LOCATE COMP     "ddram_a[4]"     SITE "A4";
IOBUF PORT      "ddram_a[4]"     SLEWRATE=FAST;
IOBUF PORT      "ddram_a[4]"     IO_TYPE=LVCMOS33;
LOCATE COMP     "ddram_a[5]"     SITE "D4";
IOBUF PORT      "ddram_a[5]"     SLEWRATE=FAST;
IOBUF PORT      "ddram_a[5]"     IO_TYPE=LVCMOS33;
LOCATE COMP     "ddram_a[6]"     SITE "C3";
IOBUF PORT      "ddram_a[6]"     SLEWRATE=FAST;
IOBUF PORT      "ddram_a[6]"     IO_TYPE=LVCMOS33;
LOCATE COMP     "ddram_a[7]"     SITE "B2";
IOBUF PORT      "ddram_a[7]"     SLEWRATE=FAST;
IOBUF PORT      "ddram_a[7]"     IO_TYPE=LVCMOS33;
LOCATE COMP     "ddram_a[8]"     SITE "B1";
IOBUF PORT      "ddram_a[8]"     SLEWRATE=FAST;
IOBUF PORT      "ddram_a[8]"     IO_TYPE=LVCMOS33;
LOCATE COMP     "ddram_a[9]"     SITE "D1";
IOBUF PORT      "ddram_a[9]"     SLEWRATE=FAST;
IOBUF PORT      "ddram_a[9]"     IO_TYPE=LVCMOS33;
LOCATE COMP     "ddram_a[10]"    SITE "A7";
IOBUF PORT      "ddram_a[10]"    SLEWRATE=FAST;
IOBUF PORT      "ddram_a[10]"    IO_TYPE=LVCMOS33;
LOCATE COMP     "ddram_a[11]"    SITE "C2";
IOBUF PORT      "ddram_a[11]"    SLEWRATE=FAST;
IOBUF PORT      "ddram_a[11]"    IO_TYPE=LVCMOS33;
LOCATE COMP     "ddram_a[12]"    SITE "B6";
IOBUF PORT      "ddram_a[12]"    SLEWRATE=FAST;
IOBUF PORT      "ddram_a[12]"    IO_TYPE=LVCMOS33;
LOCATE COMP     "ddram_a[13]"    SITE "C1";
IOBUF PORT      "ddram_a[13]"    SLEWRATE=FAST;
IOBUF PORT      "ddram_a[13]"    IO_TYPE=LVCMOS33;
LOCATE COMP     "ddram_a[14]"    SITE "A2";
IOBUF PORT      "ddram_a[14]"    SLEWRATE=FAST;
IOBUF PORT      "ddram_a[14]"    IO_TYPE=LVCMOS33;
LOCATE COMP     "ddram_a[15]"    SITE "C7";
IOBUF PORT      "ddram_a[15]"    SLEWRATE=FAST;
IOBUF PORT      "ddram_a[15]"    IO_TYPE=LVCMOS33;
LOCATE COMP     "ddram_ba[0]"    SITE "D6";
IOBUF PORT      "ddram_ba[0]"    SLEWRATE=FAST;
IOBUF PORT      "ddram_ba[0]"    IO_TYPE=LVCMOS33;
LOCATE COMP     "ddram_vccio[5]" SITE "C6";
IOBUF PORT      "ddram_vccio[5]" SLEWRATE=FAST;
IOBUF PORT      "ddram_vccio[5]" IO_TYPE=LVCMOS33I;
LOCATE COMP     "ddram_ba[1]"    SITE "B7";
IOBUF PORT      "ddram_ba[1]"    SLEWRATE=FAST;
IOBUF PORT      "ddram_ba[1]"    IO_TYPE=LVCMOS33;
LOCATE COMP     "ddram_ba[2]"    SITE "A6";
IOBUF PORT      "ddram_ba[2]"    SLEWRATE=FAST;
IOBUF PORT      "ddram_ba[2]"    IO_TYPE=LVCMOS33;

// PIO3 3V3
LOCATE COMP     "gpio_a3"       SITE "H4";			// 3
IOBUF PORT      "gpio_a3"       IO_TYPE=LVCMOS33;
IOBUF PORT      "gpio_a3"       PULLMODE=DOWN;
LOCATE COMP     "gpio_a4"       SITE "G4";			// 3
IOBUF PORT      "gpio_a4"       IO_TYPE=LVCMOS33;
IOBUF PORT      "gpio_a4"       PULLMODE=DOWN;
LOCATE COMP     "ADC_MUX0"      SITE "F4";			// 3
IOBUF PORT      "ADC_MUX0"      IO_TYPE=LVCMOS33;
IOBUF PORT      "ADC_MUX0"      PULLMODE=DOWN;
LOCATE COMP     "ADC_MUX1"      SITE "F3";			// 3
IOBUF PORT      "ADC_MUX1"      IO_TYPE=LVCMOS33;
IOBUF PORT      "ADC_MUX1"      PULLMODE=DOWN;
LOCATE COMP     "ADC_SENSE_HI"  SITE "H3";			// 3
IOBUF PORT      "ADC_SENSE_HI"  IO_TYPE=LVCMOS33;
IOBUF PORT      "ADC_SENSE_HI"  PULLMODE=DOWN;
LOCATE COMP     "ADC_SENSE_LO"  SITE "G3";			// 3
IOBUF PORT      "ADC_SENSE_LO"  IO_TYPE=LVCMOS33;
IOBUF PORT      "ADC_SENSE_LO"  PULLMODE=DOWN;
LOCATE COMP     "rgb_led0_b"    SITE "J3";
IOBUF PORT      "rgb_led0_b"    IO_TYPE=LVCMOS33;
LOCATE COMP     "gpio_12"       SITE "H2";			// 3
IOBUF PORT      "gpio_12"       IO_TYPE=LVCMOS33;
IOBUF PORT      "gpio_12"       PULLMODE=DOWN;
IOBUF PORT      "gpio_12"       SLEWRATE=FAST;
LOCATE COMP     "ADC_MUX2"      SITE "F2";			// 3
IOBUF PORT      "ADC_MUX2"      IO_TYPE=LVCMOS33;
IOBUF PORT      "ADC_MUX2"      PULLMODE=DOWN;
LOCATE COMP     "ADC_CTRL0"     SITE "G1";			// 3
IOBUF PORT      "ADC_CTRL0"     IO_TYPE=LVCMOS33;
IOBUF PORT      "ADC_CTRL0"     PULLMODE=DOWN;
LOCATE COMP     "gpio_13"       SITE "J2";				// 3
IOBUF PORT      "gpio_13"       IO_TYPE=LVCMOS33;
IOBUF PORT      "gpio_13"       PULLMODE=DOWN;
IOBUF PORT      "gpio_13"       SLEWRATE=FAST;
LOCATE COMP     "SD0_DAT0"      SITE "J1";				// 3
IOBUF PORT      "SD0_DAT0"      IO_TYPE=LVCMOS33D;
IOBUF PORT      "SD0_DAT0"      PULLMODE=DOWN;
LOCATE COMP     "ADC_CTRL1"     SITE "F1";				// 3
IOBUF PORT      "ADC_CTRL1"     IO_TYPE=LVCMOS33D;
IOBUF PORT      "ADC_CTRL1"     PULLMODE=DOWN;
LOCATE COMP     "ADC_MUX3"      SITE "H1";				// 3
IOBUF PORT      "ADC_MUX3"      IO_TYPE=LVCMOS33D;
IOBUF PORT      "ADC_MUX3"      PULLMODE=DOWN;
LOCATE COMP     "rgb_led0_r"    SITE "K4";				// LED_R
IOBUF PORT      "rgb_led0_r"    IO_TYPE=LVCMOS33;
LOCATE COMP     "gpio_a0"       SITE "L4";				// 3
IOBUF PORT      "gpio_a0"       IO_TYPE=LVCMOS33;			// no D
IOBUF PORT      "gpio_a0"       PULLMODE=DOWN;
LOCATE COMP     "gpio_a2"       SITE "N4";				// 3
IOBUF PORT      "gpio_a2"       IO_TYPE=LVCMOS33D;
IOBUF PORT      "gpio_a2"       PULLMODE=DOWN;
LOCATE COMP     "gpio_a1"       SITE "N3";				// 3
IOBUF PORT      "gpio_a1"       IO_TYPE=LVCMOS33;			// no d
IOBUF PORT      "gpio_a1"       PULLMODE=DOWN;
LOCATE COMP     "rgb_led0_g"    SITE "M3";				// 3
IOBUF PORT      "rgb_led0_g"    IO_TYPE=LVCMOS33;
LOCATE COMP     "SD0_DAT2"      SITE "L3";				// 3
IOBUF PORT      "SD0_DAT2"      IO_TYPE=LVCMOS33;			// no d
IOBUF PORT      "SD0_DAT2"      PULLMODE=DOWN;
LOCATE COMP     "SD0_DAT1"      SITE "K3";				// 3
IOBUF PORT      "SD0_DAT1"      IO_TYPE=LVCMOS33;			// no d
IOBUF PORT      "SD0_DAT1"      PULLMODE=DOWN;
LOCATE COMP     "SD0_CLK"       SITE "K1";				// 3
IOBUF PORT      "SD0_CLK"       IO_TYPE=LVCMOS33;			// no d
IOBUF PORT      "SD0_CLK"       PULLMODE=DOWN;
LOCATE COMP     "SD0_CMD"       SITE "K2";				// 3
IOBUF PORT      "SD0_CMD"       IO_TYPE=LVCMOS33;			// no d
IOBUF PORT      "SD0_CMD"       PULLMODE=DOWN;
LOCATE COMP     "usb_d_n"       SITE "M2";				// 3
IOBUF PORT      "usb_d_n"       IO_TYPE=LVCMOS33;
LOCATE COMP     "usb_pullup"    SITE "N2";				// 3
IOBUF PORT      "usb_pullup"    IO_TYPE=LVCMOS33;
LOCATE COMP     "SDO_DAT3"      SITE "M1";				// 3
IOBUF PORT      "SDO_DAT3"      IO_TYPE=LVCMOS33;			// no d
IOBUF PORT      "SDO_DAT3"      PULLMODE=DOWN;
LOCATE COMP     "SD0_CD"        SITE "L1";				// 3
IOBUF PORT      "SD0_CD"        IO_TYPE=LVCMOS33;			// no d
IOBUF PORT      "SD0_CD"        PULLMODE=DOWN;
LOCATE COMP     "usb_d_p"       SITE "N1";				// 3
IOBUF PORT      "usb_d_p"       IO_TYPE=LVCMOS33;

// PIO6 1V5
LOCATE COMP     "ddram_vccio[1]"    SITE "D17";
IOBUF PORT      "ddram_vccio[1]"    SLEWRATE=FAST;
IOBUF PORT      "ddram_vccio[1]"    IO_TYPE=SSTL135_II;
LOCATE COMP     "ddram_dq[13]"      SITE "C18";
IOBUF PORT      "ddram_dq[13]"      SLEWRATE=FAST;
IOBUF PORT      "ddram_dq[13]"      IO_TYPE=SSTL135_I;
IOBUF PORT      "ddram_dq[13]"      TERMINATION=OFF;
LOCATE COMP     "ddram_cke"         SITE "D18";
IOBUF PORT      "ddram_cke"         SLEWRATE=FAST;
IOBUF PORT      "ddram_cke"         IO_TYPE=SSTL135_I;
LOCATE COMP     "ddram_dq[15]"      SITE "F18";
IOBUF PORT      "ddram_dq[15]"      SLEWRATE=FAST;
IOBUF PORT      "ddram_dq[15]"      IO_TYPE=SSTL135_I;
IOBUF PORT      "ddram_dq[15]"      TERMINATION=OFF;
LOCATE COMP     "ddram_dq[8]"       SITE "F17";
IOBUF PORT      "ddram_dq[8]"       SLEWRATE=FAST;
IOBUF PORT      "ddram_dq[8]"       IO_TYPE=SSTL135_I;
IOBUF PORT      "ddram_dq[8]"       TERMINATION=OFF;
LOCATE COMP     "ddram_dq[9]"       SITE "F16";
IOBUF PORT      "ddram_dq[9]"       SLEWRATE=FAST;
IOBUF PORT      "ddram_dq[9]"       IO_TYPE=SSTL135_I;
IOBUF PORT      "ddram_dq[9]"       TERMINATION=OFF;
LOCATE COMP     "ddram_dq[11]"      SITE "F15";
IOBUF PORT      "ddram_dq[11]"      SLEWRATE=FAST;
IOBUF PORT      "ddram_dq[11]"      IO_TYPE=SSTL135_I;
IOBUF PORT      "ddram_dq[11]"      TERMINATION=OFF;
LOCATE COMP     "ddram_dm[1]"       SITE "G16";
IOBUF PORT      "ddram_dm[1]"       SLEWRATE=FAST;
IOBUF PORT      "ddram_dm[1]"       IO_TYPE=SSTL135_I;
LOCATE COMP     "ddram_dqs_p[1]"    SITE "G18";
IOBUF PORT      "ddram_dqs_p[1]"    SLEWRATE=FAST;
IOBUF PORT      "ddram_dqs_p[1]"    IO_TYPE=SSTL135D_I;
IOBUF PORT      "ddram_dqs_p[1]"    TERMINATION=OFF;
IOBUF PORT      "ddram_dqs_p[1]"    DIFFRESISTOR=100;
LOCATE COMP     "ddram_dqs_n[1]"    SITE "H17";
IOBUF PORT      "ddram_dqs_n[1]"    SLEWRATE=FAST;
IOBUF PORT      "ddram_dqs_n[1]"    IO_TYPE=SSTL135D_I;
IOBUF PORT      "ddram_dqs_n[1]"    TERMINATION=OFF;
IOBUF PORT      "ddram_dqs_n[1]"    DIFFRESISTOR=100;
LOCATE COMP     "ddram_dq[10]"      SITE "G15";
IOBUF PORT      "ddram_dq[10]"      SLEWRATE=FAST;
IOBUF PORT      "ddram_dq[10]"      IO_TYPE=SSTL135_I;
IOBUF PORT      "ddram_dq[10]"      TERMINATION=OFF;
// H15 ECP5_VREF
LOCATE COMP     "ddram_dq[14]"      SITE "H16";
IOBUF PORT      "ddram_dq[14]"      SLEWRATE=FAST;
IOBUF PORT      "ddram_dq[14]"      IO_TYPE=SSTL135_I;
IOBUF PORT      "ddram_dq[14]"      TERMINATION=OFF;
LOCATE COMP     "ddram_dq[12]"      SITE "J16";
IOBUF PORT      "ddram_dq[12]"      SLEWRATE=FAST;
IOBUF PORT      "ddram_dq[12]"      IO_TYPE=SSTL135_I;
IOBUF PORT      "ddram_dq[12]"      TERMINATION=OFF;
LOCATE COMP     "usr_btn"           SITE "J17";
IOBUF PORT      "usr_btn"           IO_TYPE=SSTL135_I;
LOCATE COMP     "ddram_clk_p"       SITE "J18";
IOBUF PORT      "ddram_clk_p"       SLEWRATE=FAST;
IOBUF PORT      "ddram_clk_p"       IO_TYPE=SSTL135D_I;
LOCATE COMP     "ddram_clk_n"       SITE "K18";
IOBUF PORT      "ddram_clk_n"       SLEWRATE=FAST;
IOBUF PORT      "ddram_clk_n"       IO_TYPE=SSTL135D_I;
LOCATE COMP     "ddram_vccio[0]"    SITE "K16";
IOBUF PORT      "ddram_vccio[0]"    SLEWRATE=FAST;
IOBUF PORT      "ddram_vccio[0]"    IO_TYPE=SSTL135_II;
LOCATE COMP     "ddram_vccio[2]"    SITE "K15";
IOBUF PORT      "ddram_vccio[2]"    SLEWRATE=FAST;
IOBUF PORT      "ddram_vccio[2]"    IO_TYPE=SSTL135_II;
LOCATE COMP     "ddram_vccio[3]"    SITE "K17";
IOBUF PORT      "ddram_vccio[3]"    SLEWRATE=FAST;
IOBUF PORT      "ddram_vccio[3]"    IO_TYPE=SSTL135_II;
LOCATE COMP     "ddram_reset_n"     SITE "L18";
IOBUF PORT      "ddram_reset_n"     SLEWRATE=FAST;
IOBUF PORT      "ddram_reset_n"     IO_TYPE=SSTL135_I;
LOCATE COMP     "ddram_gnd[0]"      SITE "L15";
IOBUF PORT      "ddram_gnd[0]"      SLEWRATE=FAST;
IOBUF PORT      "ddram_gnd[0]"      IO_TYPE=SSTL135_II;
LOCATE COMP     "ddram_gnd[1]"      SITE "L16";
IOBUF PORT      "ddram_gnd[1]"      SLEWRATE=FAST;
IOBUF PORT      "ddram_gnd[1]"      IO_TYPE=SSTL135_II;
// M16 EXT_PLL+ 
// M17 EXT_PLL-

// PIO7 1V5
LOCATE COMP     "ddram_ras_n" SITE "C12";
IOBUF PORT      "ddram_ras_n" SLEWRATE=FAST;
IOBUF PORT      "ddram_ras_n" IO_TYPE=SSTL135_I;
LOCATE COMP     "ddram_we_n" SITE "B12";
IOBUF PORT      "ddram_we_n" SLEWRATE=FAST;
IOBUF PORT      "ddram_we_n" IO_TYPE=SSTL135_I;
LOCATE COMP     "ddram_cs_n" SITE "A12";
IOBUF PORT      "ddram_cs_n" SLEWRATE=FAST;
IOBUF PORT      "ddram_cs_n" IO_TYPE=SSTL135_I;
LOCATE COMP     "ddram_cas_n" SITE "D13";
IOBUF PORT      "ddram_cas_n" SLEWRATE=FAST;
IOBUF PORT      "ddram_cas_n" IO_TYPE=SSTL135_I;
LOCATE COMP     "ddram_odt" SITE "C13";
IOBUF PORT      "ddram_odt" SLEWRATE=FAST;
IOBUF PORT      "ddram_odt" IO_TYPE=SSTL135_I;
LOCATE COMP     "ddram_dq[5]" SITE "B13";
IOBUF PORT      "ddram_dq[5]" SLEWRATE=FAST;
IOBUF PORT      "ddram_dq[5]" IO_TYPE=SSTL135_I;
IOBUF PORT      "ddram_dq[5]" TERMINATION=OFF;
LOCATE COMP     "ddram_dq[7]" SITE "A13";
IOBUF PORT      "ddram_dq[7]" SLEWRATE=FAST;
IOBUF PORT      "ddram_dq[7]" IO_TYPE=SSTL135_I;
IOBUF PORT      "ddram_dq[7]" TERMINATION=OFF;
// C15 ECP5_VREF
LOCATE COMP     "ddram_dq[4]" SITE "A15";
IOBUF PORT      "ddram_dq[4]" SLEWRATE=FAST;
IOBUF PORT      "ddram_dq[4]" IO_TYPE=SSTL135_I;
IOBUF PORT      "ddram_dq[4]" TERMINATION=OFF;
LOCATE COMP     "ddram_dq[1]" SITE "D15";
IOBUF PORT      "ddram_dq[1]" SLEWRATE=FAST;
IOBUF PORT      "ddram_dq[1]" IO_TYPE=SSTL135_I;
IOBUF PORT      "ddram_dq[1]" TERMINATION=OFF;
LOCATE COMP     "ddram_dm[0]" SITE "D16";		/7
IOBUF PORT      "ddram_dm[0]" SLEWRATE=FAST;
IOBUF PORT      "ddram_dm[0]" IO_TYPE=SSTL135_I;
LOCATEV COMP    "ddram_dqs_p[0]" SITE "B15";
IOBUF PORT      "ddram_dqs_p[0]" SLEWRATE=FAST;
IOBUF PORT      "ddram_dqs_p[0]" IO_TYPE=SSTL135D_I;
IOBUF PORT      "ddram_dqs_p[0]" TERMINATION=OFF;
IOBUF PORT      "ddram_dqs_p[0]" DIFFRESISTOR=100;
LOCATEV COMP    "ddram_dqs_n[0]" SITE "A16";
IOBUF PORT      "ddram_dqs_n[0]" SLEWRATE=FAST;
IOBUF PORT      "ddram_dqs_n[0]" IO_TYPE=SSTL135D_I;
IOBUF PORT      "ddram_dqs_n[0]" TERMINATION=OFF;
IOBUF PORT      "ddram_dqs_n[0]" DIFFRESISTOR=100;
LOCATE COMP     "ddram_dq[3]" SITE "C16";
IOBUF PORT      "ddram_dq[3]" SLEWRATE=FAST;
IOBUF PORT      "ddram_dq[3]" IO_TYPE=SSTL135_I;
IOBUF PORT      "ddram_dq[3]" TERMINATION=OFF;
LOCATE COMP     "ddram_dq[6]" SITE "A17";
IOBUF PORT      "ddram_dq[6]" SLEWRATE=FAST;
IOBUF PORT      "ddram_dq[6]" IO_TYPE=SSTL135_I;
IOBUF PORT      "ddram_dq[6]" TERMINATION=OFF;
LOCATE COMP     "ddram_dq[2]" SITE "B17";
IOBUF PORT      "ddram_dq[2]" SLEWRATE=FAST;
IOBUF PORT      "ddram_dq[2]" IO_TYPE=SSTL135_I;
IOBUF PORT      "ddram_dq[2]" TERMINATION=OFF;
LOCATE COMP     "ddram_vccio[4]" SITE "B18";
IOBUF PORT      "ddram_vccio[4]" SLEWRATE=FAST;
IOBUF PORT      "ddram_vccio[4]" IO_TYPE=SSTL135_II;
LOCATE COMP     "ddram_dq[0]" SITE "C17";
IOBUF PORT      "ddram_dq[0]" SLEWRATE=FAST;
IOBUF PORT      "ddram_dq[0]" IO_TYPE=SSTL135_I;
IOBUF PORT      "ddram_dq[0]" TERMINATION=OFF;

// PIO8 3V3
// N15 IO_MISO
// N16 IO_MOSI
LOCATE COMP     "gpio_0"	SITE "N17";				//8
IOBUF PORT      "gpio_0"	IO_TYPE=LVCMOS33;
IOBUF PORT      "gpio_0"    PULLMODE=DOWN;
IOBUF PORT      "gpio_0"	SLEWRATE=FAST;
LOCATE COMP     "gpio_1"	SITE "M18";				//8
IOBUF PORT      "gpio_1"	IO_TYPE=LVCMOS33;
IOBUF PORT      "gpio_1"    PULLMODE=DOWN;
IOBUF PORT      "gpio_1"	SLEWRATE=FAST;
LOCATE COMP     "spiflash4x_dq[3]" SITE "N18";		// 8
IOBUF PORT      "spiflash4x_dq[3]" IO_TYPE=LVCMOS33;
LOCATE COMP     "spiflash4x_dq[2]" SITE "R18";		// 8
IOBUF PORT      "spiflash4x_dq[2]" IO_TYPE=LVCMOS33;
LOCATE COMP     "spiflash4x_dq[1]" SITE "T18";		// 8
IOBUF PORT      "spiflash4x_dq[1]" IO_TYPE=LVCMOS33;
LOCATE COMP     "spiflash4x_dq[0]" SITE "U18";		// 8
IOBUF PORT      "spiflash4x_dq[0]" IO_TYPE=LVCMOS33;
// R17 IO_SCK
// T17 IO_A5
LOCATE COMP     "spiflash4x_cs_n" SITE "U17";		// 8
IOBUF PORT      "spiflash4x_cs_n" IO_TYPE=LVCMOS33;
LOCATE COMP     "rst_n" SITE "V17"; 				// 8
IOBUF PORT      "rst_n" IO_TYPE=LVCMOS33;
// R16 NC


